.footer {
    background-color: $title;
    padding: 10px 0;

        .year {
            font-size: 1.6;
            font-weight: 700;
            color: $white;
            text-align: center;
            
        }
}
